---
#Uninstall the old version

- name: Stop MariaDB server process 
  command: systemctl stop mariadb
  ignore_errors: yes
  
- name: Uninstall via YUM
  command: yum remove "MariaDB-*" -y
  ignore_errors: yes

- name: Uninstall Galera package as well 
  command: yum remove galera-4 -y
  ignore_errors: yes
  
- name: Packages to be remove
  command: rpm --query --all | grep -i -E "mariadb|galera"
  register: rpm_packages
  ignore_errors: yes
  
#Install new version

- name: Install wget and get MariaDB
  command: yum install wget -y
  command: wget https://downloads.mariadb.com/MariaDB/mariadb_repo_setup
  command: chmod +x mariadb_repo_setup
  command: ./mariadb_repo_setup --mariadb-server-version="mariadb-10.5"
  
- name: Install MariaDB server
  command: yum install MariaDB-server MariaDB-backup -y

- name: Start mariadb and upgrade
  command: systemctl start mariadb
  command: systemctl enable mariadb
  command: mariadb-upgrade


